<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
    <h1>Добро пожаловать в ваш личный кабинет</h1>
    <a href="{% url 'create_design_request'%}">Создать новую заявку</a>
    <br>
    <a href="{% url 'my_design_requests' %}">Список моих заявок</a>
    <br>
    <!-- Здесь можно отобразить информацию о заявках и другие данные пользователя -->
    <a href="{% url 'home' %}">На главную страницу</a>
    <br>
    <p>Ваш никнейм: {{ user.username }}</p>
    <a href="{% url 'logout' %}">Выйти из аккаунта</a>
</body>
</html>
