{% extends "base_generic.html" %}

{% block content %}
    <h1>Детали заявки</h1>
    <h2><strong>Время создания:</strong> {{ request.created_at }}</h2>
    <h2>Название заявки:{{ request.title }}</h2>
    <p><strong>Описание:</strong> {{ request.description }}</p>
    <p><strong>Категория:</strong> {{ request.category }}</p>
    <p><strong>Статус:</strong> {{ request.status }}</p>
    <p><strong>Пользователь:</strong> {{ request.user }}</p>
 {% if request.room_image %}
        <h3>Текущее изображение заявки:</h3>
        <img src="{{ request.room_image.url }}" alt="{{ request.title }}" width="300" height="200">
    {% endif %}
<br>
<br>
     {% if user.is_staff%}
    <a href="{% url 'change_request_status' request.id %}">Изменить статус заявки</a>
    <br>
    <a href="{% url 'all_user_requests' %}">Вернуться к списку заявок пользователей</a>
    {% else %}
    <a href="{% url 'my_design_requests' %}">Вернуться к своим заявкам</a>
    <br>
    <a href="{% url 'delete_request' request.id %}">Удалить заявку</a>
    {% endif %}
</div>
{% endblock %}

