{% extends "base_generic.html" %}

{% block content %}
    <h1>Управление категориями заявок</h1>

    <h2>Список категорий</h2>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }} (<a href="{% url 'delete_category' category.id %}">Удалить</a>)</li>
        {% endfor %}
    </ul>

    <h2>Добавить категорию</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить</button>
    </form>
</div>
{% endblock %}
